<h1>Mountains Importer™</h1>
<p>Let's import some mountains.</p>

<%= render "mountains/import_form" %>
<%# column_chart Mountain.group("SUBSTR(name, 1, 1)").count, xtitle: "Elevation (m)" %>
<%= column_chart @chart_data, 
  xtitle: "Difficulty Based on Elevation", 
  ytitle: "Number of Mountains",
  order: ["low", "medium", "high"]
%>
<% @mountains.each do |mountain| %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= mountain.name %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= mountain.height %></h6>
    </div>
  </div>
<% end %>